<div class="employee-list">
    <h1 class="title">Employee List</h1>
    <div class="emp-table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Age</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="add-action">Action
                        <button (click)="openModal('Add')"><img src='assets/images/add-user-icon.png' /></button>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr class="form-details">
                    <td colspan="7" class="p-0">
                        <form [formGroup]="filterForm">
                            <table>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <input type="text" formControlName='empName' placeholder="Search By Name" />
                                    </td>
                                    <td>
                                        <select class="jobtitle" formControlName="empJobTitle">
                                        <option value="">Select</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Tech Lead">Tech Lead</option>
                                        <option value="Software Developer">Software Developer</option>
                                        <option value="Quality Analysis">Quality Analysis</option>
                                        <option value="UI Designer">UI Designer</option>
                                  </select>
                                    </td>
                                    <td><input class="age" formControlName="empAge" type="number" placeholder="Age" /></td>
                                    <td>
                                        <input formControlName="startDate" type="date" />
                                    </td>
                                    <td>
                                        <input formControlName="endDate" type="date" />
                                    </td>
                                    <td class="action-field ">
                                        <button (click)="filterList()" class="filter-icon"><img src='assets/images/filter-icon.png' /></button>
                                        <button (click)="resetFilter()" class="reset-icon"><img src='assets/images/close-icon.png' /></button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>

                </tr>

                <tr *ngFor="let emp of employeeList; index as i">
                    <td>{{i+1}}</td>
                    <td>
                        {{emp.empName}}
                    </td>
                    <td>
                        {{emp.empJobTitle}}
                    </td>
                    <td> {{emp.empAge}}</td>
                    <td>
                        {{emp.startDate}}
                    </td>
                    <td>
                        <span *ngIf="emp.endDate == '' || emp.endDate == null; else elseEndDate" class="current-working">Currently Working</span>
                        <ng-template #elseEndDate>
                            {{emp.endDate}}
                        </ng-template>

                    </td>
                    <td class="action-field">
                        <button (click)="selectedRow(emp, i+1)" (click)="openModal('Update')" class="view-icon"><img src='assets/images/view-icon.png' /></button>
                        <button (click)="deleteItem(i)" class="delete-icon"><img src='assets/images/delete-icon.png' /></button>
                    </td>
                </tr>
                <tr *ngIf="employeeList == ''">
                    <td colspan="7">
                        <div class="empty-data">Data is not available!</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<app-add-employee (updateempData)="updateItem($event)" (addempData)="addItem($event)" [statusmode]="statusMode" #modal></app-add-employee>
<!-- <app-add-employee *ngIf="statusMode === 'Update'" [statusmode]="statusMode" [selecteditem]="selectedListItem" #modal></app-add-employee> -->